<section>
  <div class="container-fluid h-custom">
    <div class="col-md-8 offset-xl-2">
      <form [formGroup]="orderForm" (ngSubmit)="createOrder()">
        <div class="d-flex flex-row align-items-center justify-content-center mb-4">
          <h1 class="display-3">Order</h1>
        </div>
        
        <div class="d-flex flex-row align-items-center justify-content-center">
          
          <!-- Location input -->
          <div class="form-outline mb-4 mx-4">
            <select id="location" class="form-control form-select form-select-lg" formControlName="location" aria-label=".form-select-sm example" required>
              <option value="" selected disabled>Choose Location</option>
              <option *ngFor="let location of locations" [value]="location">{{ location }}</option>
            </select>
            <label class="form-label" for="location">Location</label>
            <div *ngIf="orderForm.get('location')?.invalid && (orderForm.get('location')?.dirty || orderForm.get('location')?.touched)" class="invalid">
              <div *ngIf="orderForm.get('location')?.invalid">Location is required.</div>
            </div>
          </div>

          <!-- Time input -->
          <div class="form-outline mb-4 mx-4" [ngClass]="{'has-error': orderForm.get('time')?.invalid && (orderForm.get('time')?.dirty || orderForm.get('time')?.touched)}">
            <input type="time" id="form3Example4" class="form-control form-control-lg"
              placeholder="Enter time" formControlName="time">
            <label class="form-label" for="form3Example4">Time</label>
            <div *ngIf="orderForm.get('time')?.invalid && (orderForm.get('time')?.dirty || orderForm.get('time')?.touched)" class="invalid">
              <div *ngIf="orderForm.get('time')?.value===''">Time is required</div>
            </div>
          </div>

          <!-- Amount input -->
          <div class="form-check mb-4 mx-4">
            <input class="form-control" type="text" value="" id="amount" formControlName="amount" placeholder="Number of drinks" />
            <label class="form-label" for="amount">
              Number of Drinks Required
            </label>
            <div *ngIf="orderForm.get('amount')?.invalid && (orderForm.get('amount')?.dirty || orderForm.get('amount')?.touched)" class="invalid">
              <div *ngIf="orderForm.get('amount')?.invalid">Invalid amount, must be between 1 and 10.</div>
            </div>
          </div>

        </div>
        
        <div class="d-flex flex-row align-items-center justify-content-center">
          <div class="text-center text-lg-start mb-4">
            <button type="submit" class="btn btn-primary btn-lg"
            [disabled]="orderForm.get('time')?.invalid||orderForm.get('location')?.invalid||orderForm.get('amount')?.invalid"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Create Order</button>
          </div>
        </div>

      </form>
      </div>
  </div>
</section>
<section>
  <div class="container-fluid">
    <div class="row">
      <!-- Repeat this div as needed to fill empty space -->
      <div *ngFor="let shake of shakes; let i = index" class="col-sm-3">
        <app-milkshake-form [flavors]="flavors" [toppings]="toppings" [consistencies]="consistencies" 
          [(shake)]="shakes[i]"></app-milkshake-form>
      </div>
    </div>
  </div>
  {{ shakes | json }}
</section>
<section>
  <div class="container-fluid h-custom">
    <div class="col-md-8 offset-xl-2">
      <form [formGroup]="paymentForm" (ngSubmit)="placeOrder()">
        
        <div class="d-flex flex-row align-items-center justify-content-center">
          
          <!-- Discount input -->
          <div class="form-check mb-4 mx-4">
            <fieldset disabled>
              <input class="form-control" type="text" value="" id="discount" formControlName="discount" placeholder="Discount" />
              <label class="form-label" for="discount">
                Frequent Customer Discount
              </label>
            </fieldset>
          </div>

          <!-- Total Amount input -->
          <div class="form-check mb-4 mx-4">
            <fieldset disabled>
              <input class="form-control" type="text" value="" id="totalAmount" formControlName="totalAmount" placeholder="Total" />
              <label class="form-label" for="totalAmount">
                Total Amount for order (VAT incl.)
              </label>
              </fieldset>
          </div>

        </div>
        
        <div class="d-flex flex-row align-items-center justify-content-center">
          <div class="text-center text-lg-start mb-4">
            <button type="submit" class="btn btn-primary btn-lg"
            [disabled]="!complete"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Continue</button>
          </div>
        </div>

      </form>
      </div>
  </div>
</section>